body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

#navbar nav ul li {
    display: inline;
}

#navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

#navbar nav ul li a:hover {
    background-color: #575757;
}

#container {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

#sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-content {
    width: 80%;
    padding: 20px;
}

#central-content {
    background-color: gainsboro;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#rss-feed {
    list-style-type: none;
    padding: 20px;
}


#rss-feed li {
    margin: 10px 0;
    padding: 10px;
}

#rss-feed a {
    text-decoration: none;
    color: #333;
}

#rss-feed a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 30%;
    margin: 1.5%;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity 0.3s ease;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#quote {
    margin-top: 20px;
}

#quote-form {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quote-form label {
    display: block;
    margin: 10px 0 5px;
}

#quote-form input[type="number"],
#quote-form select,
#quote-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

#contact {
    margin-top: 50px;
}

#contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form label {
    display: block;
    margin: 10px 0 5px;
}

#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form input[type="email"],
#contact-form input[type="date"],
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0 15px;
    box-sizing: border-box;
}

#contact-form textarea {
    height: 100px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.icon_footer {
    color: black;
    text-decoration: none;
    padding: 1px;
    margin: 10px;
    font-size: 50px;
    color: #FFF;
}